.navbar, footer{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 64%);}

.carousel, .carousel, .carousel-item{
        height: 100vh;
        width: 100%;
        /*background: lightgreen;*/
    }
    


.carousel .carousel-item > img{

    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
main{
    min-height: 95vh;
}

#services-section > div {
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 64%);}

/*@media screen and (max-width: 400px) {}*/